* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lilita One", sans-serif;
}

body {
  background-image: url("https://wallpapersmug.com/u/f5d72b/digital-art-horizon-mountains-forest-pinkish.jpg");
  background-size: cover;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.displayBox {
  border: none;
  border-radius: 5px;
  width: 500px;
  background: linear-gradient(
    110deg,
    rgba(247, 160, 227, 0.9) 30%,
    rgba(158, 150, 233, 0.8) 60%
  );
  color: white;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.locationButtons {
  display: flex;
  border: 2px solid #9e96e9;
  height: 80px;
  width: 700px;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.currentLocationButton {
  border: none;
  display: flex;
  flex: 2;
  justify-content: center;
  margin: 2rem;
  max-width: fit-content;
  padding: 0.75rem;
  font-weight: bold;
  background-color: #9e96e9;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 4rem;
}

.anotherLocationButton {
  font-weight: bold;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-right: 2rem;
  padding: 0.75rem;
  max-width: fit-content;
  background-color: rgb(247, 160, 227);
  border: none;
  color: white;
  border-radius: 5px;
}

.locationName {
  font-size: 2rem;
}

.currentTemp {
  font-size: 2.5rem;
}

.weatherDescription,
.maxMinTemp {
  font-size: 1.5rem;
}

.displayBox p {
  margin: 0.5rem;
}

button:hover {
  cursor: pointer;
}

.active {
  background-color: rgb(100, 100, 100);
}

.weatherIcon {
  width: max-content;
  height: auto;
  justify-self: center;
}
